<div [ngClass]="'first'">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <h1>Create New Password</h1>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>New Password</mat-label>
                <input type="password" formControlName="password" matInput placeholder="Enter Password">
                <mat-error>
                    Please enter more than 6 character
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input type="password" formControlName="cpassword" matInput placeholder="Enter Confirm Password">
                <mat-error> Password & Confirm Password didn't match.</mat-error>

                <mat-error
                    *ngIf="form.controls['cpassword'].errors?.['ConfirmPasswordValidator'] && form.controls['cpassword'].errors?.['required']">
                    Password & Confirm Password didn't match.
                </mat-error>
            </mat-form-field>
        </p>
        <button mat-raised-button color="primary" type="submit">Submit</button><br><br>
    </form>
</div>