<mat-dialog-content [style.width.px]="850">
    <div>
        <section style="margin-top: 5%;">
            <mat-label style="font-size: medium ">Total count : {{totalcount}}</mat-label>
        </section>
    </div>
    <div class="mat-elevation-z1">
        <div>
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="srno">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tbstyle">Sr.No</th>
                    <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tbstyle">Email Id</th>
                    <td mat-cell *matCellDef="let element" class="left-text"> {{element.email}}</td>
                </ng-container>
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tbstyle">Role</th>
                    <td mat-cell *matCellDef="let element" class="left-text ">{{element.role}}</td>
                </ng-container>
                <ng-container matColumnDef="readfile">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tbstyle">Reaad Access</th>
                    <td mat-cell *matCellDef="let element" class="left-text ">
                        <span ><button  *ngIf="element.readfile" class="style_btn"   matTooltip="Click to Remove Read Access"(click)="changeReadaccess(element.fileid,element.readfile )"  mat-icon-button> <mat-icon style="color: green;">done</mat-icon></button></span>
                        <span ><button *ngIf="!element.readfile" class="style_btn"  matTooltip="Click to Give Read Access"  (click)="changeReadaccess(element.fileid,element.readfile) " mat-icon-button><mat-icon style="color: red;">clear</mat-icon></button></span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="writefile">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tbstyle">Write Access</th>
                    <td mat-cell *matCellDef="let element" class="left-text ">
                         <button *ngIf="element.writefile" matTooltip="Click to Remove Write Access" (click)="changeWriteaccess(element.fileid,element.writefile)" mat-icon-button><mat-icon style="color: green;">done</mat-icon></button>
                        <button *ngIf="!element.writefile" matTooltip="Click to Give  Write Access"(click)="changeWriteaccess(element.fileid,element.writefile)" mat-icon-button><mat-icon style="color: red;">clear</mat-icon></button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="revoke">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="tbstyle"> Co-Owner Permission</th>
                    <td mat-cell *matCellDef="let element "> <button *ngIf="element.role=='co-owner'" mat-icon-button
                            matTooltip="Click to Revoke co-owner Permission" (click)="revoke(element.fileid)" class="iconbutton"
                            color="warn">
                            <mat-icon style="color: green;">check_circle_outline</mat-icon>
                            
                        </button> 
                        <button *ngIf="element.role=='user'" mat-icon-button
                        matTooltip="Click to Give co-owner Permission" (click)="setPermission(element.fileid)" class="iconbutton"
                        color="warn">        
                        <mat-icon>highlight_off</mat-icon>
                    </button></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</mat-dialog-content>